*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
background-color: rgb(195, 195, 196);
color: black;
}
/*Navbar css*/
nav{
margin: 0;
padding: 0;
display: flex;
justify-content: space-around;
height: 60px;
background-color: rgb(15, 15, 16);
align-items: center;
flex-wrap: wrap;  
box-sizing: border-box; 
color: white;
}
nav ul {
display: flex;
justify-content: space-around;


}
nav ul li {
list-style: none;
margin: 0 23px;
text-decoration: none;
}
nav ul li a{
color: white;
text-decoration: none;
}
nav ul li a:hover{
color: rgb(127, 127, 210);
font-size: 1.01rem;
}
/*chart*/

/*Login*/

/*contact css*/

.form{

  width:500px;
  padding:6px;
  }
  input,textarea{
  width:100%;
  padding:6px;
  outline:none;
  border-radius: 8px;
  border:none;
  margin:6px 0px;
  background-color: rgba(255, 255, 255, 0.873);
  }
  
  
  .contform{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100;
  flex-wrap: wrap;
  }
  .btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(218, 218, 218);
  color: rgb(42, 40, 40);
  font-weight: 700;
  transition: 0.6s;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .btn:active {
  scale: 0.92;
  }
  
  .btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
  }
  .heading-sec2{
    margin: 0 20px 0 ;
    font-size: 2rem;
    }
    .heading-sec2 span{
    font-size: 1.3rem;
    }
    .logos ul li a{
    text-decoration: none;
    color: white;
    }
    /*input form*/
    .table-in{
      width: 500px;
      background-color:rgb(146, 144, 144);
      border-radius: 8px;
      
    }
.area-in{
  background-color: black;
  color: white;
  padding: 30px 20px 30px 20px;
  display: flex;
  justify-content: center;
}
.purpletxt{
  color: blueviolet;
}
    table {
      border-collapse: collapse;
      width: 100%;
      color: black;
     border-radius: 8px;
    }
    tr th{
      text-align: center;
      }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
   
    .btn-submit{
      width: 100px;
      height: 50px;
      display: block;
      margin:0 auto;
      border-radius: 5px;
      background: rgb(253, 253, 253);
      font-size: 1em;
      font-weight: 550;
      font-family: 'Montserrat', sans-serif;
    }
    .btn-submit:hover {
      background: #315cfd;
      color: white;
      font-size: 1em;
    }
    


  /*Footer css*/
  .firstgrid{
    width: auto;
    display: flex;
    margin-left: 20px;
    margin: 10px;
    padding: 10px;
    }
    .txtin{
    width: auto;
    margin: 10px;
    }
    .txtout{
    width: auto;
    margin: 10px;
    }
    .secondgrid{
    width: auto;
    justify-content: space-around;
    display: flex;
    list-style: none;
    margin-left: 20px;
    
    }
    .disp-grid img{
    width: 80px;
    height: auto;
    }
    .disp-grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    .foot{
    text-align: center;
    }
    footer{
    background-color: rgb(0, 0, 2);
    color: white;
    }
    .footlog{
    text-align: center;
    
    }
    .footlog img{
    width: 80px;
    }
    
    span  img{
    width: 70px;
    
    }

    
  /*Main component*/

  .main{
    display: flex;
    justify-content: space-around;
  }

  .leftmain{
    width: 50%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  .rightmain{
    width: 50%;
  }
  .rightmain img{
    width: 90%;
    height: auto;
  }
  .purple{
    color: blueviolet;
    font-size: 3rem ;

  }
  button {
    width: 150px;
    height: 60px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
  }
  
  button:hover {
    background: #315cfd;
    color: white;
    font-size: 1.5em;
  }
  .mainclass{
    display: flex;
    justify-content: space-around;
  }
  .chart{
    width: 50%;
  }
  .secondchart{
    width: 100%;
  }
@media screen and (max-width: 600px)and (min-width: 300px) {
  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .form{
  
    width:100%;
    padding: 5px;;
  }
  input,textarea{
    width:100%;
    padding: 5px;
    outline:none;
    border-radius: 8px;
    border:none;
    margin:6px 0px;
    background-color: rgba(255, 255, 255, 0.873);
    box-sizing: border-box;
  }
  .btn {
    font-size: 1.2rem;
    padding: 0.5rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(218, 218, 218);
    color: rgb(42, 40, 40);
    font-weight: 700;
    transition: 0.6s;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .logos li img {
    border-radius: 50%;
    width: 40px;
    height: 36px;
    background-color: white;
    margin-left: 8px;
  }
  
  .disp-grid img{
    width: 40px;
    height: auto;
  }
  .disp-grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .foot{
    text-align: center;
  }
  .firstgrid{
    width: auto;
    display: flex;
    margin-left: 20px;
    margin: 10px;
    padding: 10px;
    
  }
  .txtin{
    width: 10%;
    margin: 10px;
    
  }
  .txtout{
    text-align: center;
    width: 100%;
    margin: 10px;
    padding-left: auto;
  }

  .main{
    flex-direction:column-reverse;
  }
  
  .leftmain{
    width: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .purple{
    color: blueviolet;
    font-size: 2rem ;

  }
  
  .rightmain{

    width: 100%;
    }
  .rightmain img{
    width:100%;
    height: auto;
  }

  .area-in{
    background-color: black;
    color: white;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .table-in{
    width: 350px;
    background-color:rgb(146, 144, 144);
    border-radius: 8px;
    
  }
  
  }
